[init]
	defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = AJReade
	email = 74275743+AJReade@users.noreply.github.com
